.CartPage {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header-cart-container {
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-cart-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: #0b3fb3;
}

.main-cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 6%;
    gap: 4px;
    margin-bottom: 20px;
    min-height: 57vh;
}

.main-cart-column-title-container {
    height: auto;
    width: 100%;
    display: grid; 
    grid-template-columns: 4% 20% 34% 11% 11% 11%; 
    grid-template-rows: 45px; 
    justify-content: space-between;
}

.main-cart-column-title-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-cart-column-title-box.left {
    align-items: flex-start;
}

.main-cart-column-title-box.center {
    align-items: center;
}

.main-cart-column-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: #0b3fb3;
}

.main-cart-products-container {
    height: auto;
    width: 100%;
    display: grid; 
    grid-template-columns: 4% 20% 34% 11% 11% 11%; 
    grid-template-rows: 100px; 
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
}

.main-cart-products-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-cart-products-box.center {
    align-items: center;
}

.main-cart-products-box.left {
    align-items: flex-start;
}

.close-icon {
    object-fit: contain;
    height: 13px;
}

.close-icon:hover {
    cursor: pointer;
    filter: invert(19%) sepia(92%) saturate(2394%) hue-rotate(214deg) brightness(66%) contrast(98%);
}

.main-cart-products-box-image {
    height: 80%;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-cart-products-image {
    object-fit: contain;
    height: 80%;
    width: 80%;
}

.main-cart-products-name {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: #272727;
    text-align: left;
    line-height: 1.3rem;
}

.main-cart-products-name.hover:hover {
    color: #0b3fb3;
}

.main-cart-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6%;
    margin-bottom: 20px;
    min-height: 57vh;
}

.empty-image-adviser {
    object-fit: contain;
    max-width: 350px;
}

.empty-text-adviser {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}

.main-cart-subtotal-container {
    height: 105px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 20px 0;
}

.main-cart-subtotal-section {
    height: 100%;
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 3px;
}

.main-cart-iva-box, .main-cart-subtotal-box {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.iva-title, .subtotal-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: #0b3fb3;
    text-align: left;
}

.iva-value, .subtotal-value {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: #272727;
    text-align: right;
}

.main-cart-extra-box {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.extra-phrase {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #9E9E9E;
    text-align: right;
    margin-top: 5px;
}

.main-cart-checkout-section {
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 10px 0;
}

.main-cart-checkout-button {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #0b3fb3;
    border-radius: 7px;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main-cart-checkout-button:hover {
    cursor: pointer;
}

.main-cart-checkout-text {
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 1rem;
    text-align: center;
}