.ShopPage {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-shop {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0 6%;
}

.main-shop-selectbox-container {
    height: 30px;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.results-show-adviser {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    margin: 0;
}

.main-shop-selectbox-form {
    outline: none;
    height: 100%;
    width: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
}

.main-shop-products-container {
    height: auto;
    width: 100%;
    display: grid; 
    grid-auto-rows: 260px; 
    grid-template-columns: 23% 23% 23% 23%; 
    gap: 25px 0; 
    justify-content: space-between;
}

.product-card-button {
    height: 22px;
    width: 60px;
    border: none;
    background-color: #0b3fb3;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: .2vh .2vh;
    transition: background-color .1s linear;
    position: absolute;
    margin-top: -31px;
    margin-left: 1%;
}

.product-card-button:hover {
    cursor: pointer;
    background-color: white;
    outline: 1px solid #0b3fb3;
}

.product-card-button:hover .product-card-cart-icon {
    filter: invert(60%) sepia(110%) saturate(1077%) hue-rotate(200deg) brightness(58%) contrast(140%);
}

.product-card-button:hover .product-card-plus-icon {
    filter: invert(60%) sepia(110%) saturate(1077%) hue-rotate(200deg) brightness(58%) contrast(140%);
}

.product-card-cart-icon {
    object-fit: contain;
    max-height: 90%;
}

.product-card-plus-icon {
    object-fit: contain;
    max-height: 40%;
}

.main-shop-page-container {
    height: auto;
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.page-button {
    height: 40px;
    width: 60px;
    border: none;
    background-color: #0b3fb3;
    border-radius: 7px;
}

.page-button.disabled {
    height: 40px;
    width: 60px;
    border: none;
    background-color: #0b40b369;
    border-radius: 7px;
}

.page-button:hover {
    cursor: pointer;
}

.page-button-icon {
    object-fit: contain;
    max-height: 50%;
    max-width: 50%;
}

@media screen and (max-width: 900px) {

    .main-shop-products-container {
        grid-template-columns: 46.5% 46.5%;
    }

}