* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: white;
}

ul {
  list-style: none;
}

li {
  height: 100%;
}